.voice-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.voice-type-label {
  font-weight: bold;
  font-size: 1.1rem;
}

.module-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.gain-meter {
  width: 20px;
  margin-left: 20px;
    display: flex;
  align-items: flex-end;
}

.gain-meter-bar {
  width: 100%;
  height: 150px;
  background-color: #4a5568;
  border-radius: 4px;
  overflow: hidden;
}

.solo-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  
  /* Match the existing control-button styles */
  background-color: #4a5568;
  color: white;
}

.solo-button.active {
  background-color: #48bb78; /* Green when active */
}

.solo-button:hover {
  background-color: #38a169;
}

.drone-choir-container {
  font-family: Arial, sans-serif;
  flex: 1;
  padding: 15px;
  background-color: #2d3748;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.drone-choir-container:hover {
  background-color: #3a4654;
}

.drone-choir-container.selected {
  background-color: #4a154b;
}